#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,1,0,0
PRODUCTVERSION  1,1,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"    // 英语(美国), Unicode
        BEGIN
            VALUE "CompanyName",      "KagurazakaYashi(Miyabi)\0"
            VALUE "FileDescription",  "DeepSeek DeskBand (DeepSeek Balance Assistant)\0"
            VALUE "FileVersion",      "1.1.0.0\0"
            VALUE "InternalName",     "DeepSeekDeskBand\0"
            VALUE "LegalCopyright",   "Copyright (c) 2026 KagurazakaYashi(KagurazakaMiyabi), licensed under Mulan PSL v2.\0"
            VALUE "OriginalFilename", "DeepSeekDeskBand64.dll\0"
            VALUE "ProductName",      "DeepSeek DeskBand\0"
            VALUE "ProductVersion",   "1.1.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END
